<div class="task-card">

  <ng-container *ngIf="!isEditing; else editTask">

    <h3>
      {{ task.title }}
    </h3>

    <p>
      {{ task.description }}
    </p>

    <p>
      Status:
      <strong>{{ task.status }}</strong>
    </p>

    <p>
      Priority:
      <strong>{{ task.priority }}</strong>
    </p>

    <p>
      Due Date:
      {{ task.dueDate | date }}
    </p>

    <p>

      Remaining Days:

      <strong>

        <span *ngIf="isExpired()">
          Expired
        </span>

        <span *ngIf="!isExpired()">
          {{ getRemainingDays() }}
        </span>

      </strong>

    </p>

    <p *ngIf="isDueSoon()">
      Task due soon
    </p>

    <button type="button" (click)="onToggleStatus()">

      {{
        task.status === 'PENDING'
        ? 'Complete'
        : 'Mark Pending'
      }}

    </button>

    <button type="button" (click)="startEdit()">
      Edit
    </button>

    <button type="button" (click)="onDelete()">
      Delete
    </button>

  </ng-container>

  <ng-template #editTask>

    <form (ngSubmit)="saveEdit()">

      <div>
        <label>Title</label>
        <input
          type="text"
          name="title"
          [(ngModel)]="editableTask.title"
          required>
      </div>

      <div>
        <label>Description</label>
        <textarea
          name="description"
          [(ngModel)]="editableTask.description"
          required>
        </textarea>
      </div>

      <div>
        <label>Status</label>
        <select
          name="status"
          [(ngModel)]="editableTask.status">
          <option value="PENDING">PENDING</option>
          <option value="COMPLETED">COMPLETED</option>
        </select>
      </div>

      <div>
        <label>Priority</label>
        <select
          name="priority"
          [(ngModel)]="editableTask.priority">
          <option value="LOW">LOW</option>
          <option value="MEDIUM">MEDIUM</option>
          <option value="HIGH">HIGH</option>
        </select>
      </div>

      <div>
        <label>Due Date</label>
        <input
          type="date"
          name="dueDate"
          [(ngModel)]="editableTask.dueDate"
          required>
      </div>

      <button type="submit">
        Save
      </button>

      <button type="button" (click)="cancelEdit()">
        Cancel
      </button>

    </form>

  </ng-template>

</div>

<hr>
