<div class="task-card">

  <h3>
    {{ task.title }}
  </h3>

  <p>
    {{ task.description }}
  </p>

  <p>
    Status:
    <strong>{{ task.status }}</strong>
  </p>

  <p>
    Priority:
    <strong>{{ task.priority }}</strong>
  </p>

  <p>
    Due Date:
    {{ task.dueDate | date }}
  </p>

  <p>

  Remaining Days:

  <strong>

    <span *ngIf="isExpired()">
      Expired
    </span>

    <span *ngIf="!isExpired()">
      {{ getRemainingDays() }}
    </span>

  </strong>

</p>

<p *ngIf="isDueSoon()">
  ⚠️ Task due soon
</p>

  <button (click)="onToggleStatus()">

    {{
      task.status === 'PENDING'
        ? 'Complete'
        : 'Mark Pending'
    }}

  </button>

  <button (click)="onDelete()">
    Delete
  </button>

</div>

<hr>